<script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
<script> zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
  ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];
</script>


<h2> Ремонтная статистика байка <%= @bike.name %>, владелец <%= @bike.user_name %> </h2>

  <% if @stata_repair_err.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
  	    <h2>
          <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
           При вводе данных возникло ошибок: <%= @stata_err.errors.count %>
        </h2>
            
        <ul>
          <% @stata_err.errors.each do |attribute, error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
    </div>
  <% end %>



  <div>
    <hr/>
      <%= render 'table_view_stata_repair' %>
  </div>