<%= form_for(@bike) do |f| %>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :name, 'Bike model' %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :year, 'Year' %>
    </div>
    <div class="col-md-2">
      <%= f.number_field :year %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= f.label :color, 'Color' %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :color %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: "btn btn-success btn-sm" %> | 
    <%= link_to 'Back', bikes_path, class: "btn btn-default btn-sm" %>
  </div>

<% end %>